@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: normal;
}

.header-options {
    border-bottom: 1px solid lightgray;
    display: flex;
    justify-content: space-between;
    padding: 4px 64px;

}

.link-group {
    display: flex;
    gap: 16px;
}

.nav-link {
    color: black;
    text-decoration: none;
}

.logo {
    width: 120px;
}

.search-row {
    display: flex;
    align-items: center;
    gap: 32px;
    padding: 8px 48px;
}
.search-container {
    border: 1px solid black;
    display: flex;
    border-radius: 32px;
    overflow: hidden;
    width: 100%;


    > select {
        border: none;
        border-left: 1px solid black ;
}
}

.search-input {
    padding: 8px;
    flex: 1;
    border: none;
}

.search-btn {
    color: white;
    background-color: #0968f6;
    border-radius: 32px;
    padding: 16px 64px;
    border: none;
    font-weight: 800;
}

.button-nav {
    display: flex;
    justify-content: center;
    gap: 16px;
    padding: 16px 32px;
    border-top: 1px solid lightgray
}

.advertisment {
    color: white;
    background-color: black;
    margin: 32px auto;
    max-width: 800px;
    width: 90%;
    padding: 32px;
    border-radius: 16px;
}